<footer>

      <a href="mailto:{{ site.email }}">
        <i class="fa fa-envelope-o fa-2x"></i>
      </a>

      <a href="https://github.com/{{ site.username }}">
        <i class="fa fa-github fa-2x"></i>
      </a>

      <a href="https://linkedin.com/in/{{ site.username }}">
        <i class="fa fa-linkedin fa-2x"></i>
      </a>

      <a href="https://twitter.com/{{ site.username }}">
        <i class="fa fa-twitter fa-2x"></i>
      </a>

      <a href="https://google.com/+{{ site.google_plus_username }}">
        <i class="fa fa-google-plus fa-2x"></i>
      </a>
      
      <a href="/resume.pdf">
        <i class="fa fa-file-text-o fa-2x"></i>
      </a>

      <a href="{{ "/feed.xml" | prepend: site.url }}">
        <i class="fa fa-rss fa-2x"></i>
      </a>

</footer>
