---
layout: default
title: portfolio
---

{% for post in site.posts %}
{% if post.categories contains 'portfolio' %}

  <section>
    <h3>
      <a href="{{ post.url | prepend: site.url }}">{{post.project}}</a>
    </h3>

    <aside>
      <hr>
        <p>{{post.technologies}}</p>
      <hr>
        <p><a href="{{post.github}}">Github Repository</a></p>
      <hr>

      {% if post.website %}
        <p>
          <a href="{{post.website}}">{{post.website-name}}</a>
        </p>
        <hr>
      {% endif %}
    </aside>

    <article>
      <div class="mask">
        <a href="{{ page.path }}"><img src="{{ site.url }}images/{{ post.name }}.png" /></a>
      </div>
      <div class="caption">
        <p>{{ post.description }}</p>
      </div>
    </article>

  </section>

{% endif %}
{% endfor %}