/*
body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Vollkorn', serif;
    background-color: none;
}*/

#header {
    text-align: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 3%;
}

#left_head {
    vertical-align: bottom;
    position: relative;
    display: inline-block;
}

#right_head {
    display: inline-block;
}

section {
    width: 60%;
    margin-top: 6%;
    margin-bottom: 50px;
    margin-left: 16%;
}


.left {
    vertical-align: top;
    position: relative;
    width: 22%;
    display: inline-block;
    padding-right: 15px;
}

.post {
    width: 70%;
    display: inline-block;
}

.left p {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: sans-serif;
    font-weight: ;
    text-align: left;
    color: ;
}

.post p {
    font-size: 24px;
    margin-top: 3px;
    line-height: 33px;
    font-family: serif;
    font-weight: ;
    text-align: left;
    color: ;
}

a:hover {
    color: ;
}

hr { 
    display: block;
    margin: 0 auto;
    border: 0 none;
    height: 2px;
    color: #f1f1f1;
    background-color: #f1f1f1;
}

h1 { 
    text-align: left;
    font-family: serif; 
    font-weight: 1000; 
    font-size: 125px;
    margin-bottom: 65px;
    line-height: 0;
}

h2 { 
    text-align: left;
    padding-left: 5px;
    font-family: sans-serif; 
    font-weight: 100; 
    font-size: 55px;
    line-height: 5px;
}

h3 { 
    font-family: serif;
    font-style: italic; 
    font-weight: 600; 
    font-size: 75px;
    margin-bottom: 25px;
    line-height: 75px;
}
/*
h4 { 
    font-family: 'Ubuntu'; 
    font-weight: 400; 
    font-size: 24px; 
    color: #759087; 
}

h5 { 
    font-family: 'Ubuntu'; 
    font-weight: 400; 
    font-size: 20px; 
    color: #759087; 
}

p {
    color:#759087; 
    font-size:18px; 
    text-align: left; 
    font-family : 'Vollkorn';
    margin-left: 20px; 
}*/

