
body {
    background-color: #bae5d8;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Vollkorn', serif;
}
h1 { 
    font-family: 'Ubuntu'; 
    font-weight: 700; 
    font-size: 75px; 
    color: #759087;
}
h2 { 
    font-family: 'Ubuntu'; 
    font-weight: 300; 
    font-size: 45px; 
    color: #759087; 
}
h3 { 
    font-family: 'Ubuntu'; 
    font-weight: 400; 
    font-size: 36px; 
    color: #759087; 
}
h4 { 
    font-family: 'Ubuntu'; 
    font-weight: 400; 
    font-size: 24px; 
    color: #759087; 
}
h5 { 
    font-family: 'Ubuntu'; 
    font-weight: 400; 
    font-size: 20px; 
    color: #759087; 
}
p {
    color:#759087; 
    font-size:18px; 
    text-align: left; 
    font-family : 'Vollkorn';
    margin-left: 20px; 
}
#header {
    width: 700px;
    margin: 70px auto;
    padding-top: 50px;
    padding-bottom: 25px;
    border-radius: 1em;
}
.section {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 18%;
    margin-right: 28%;
}
p.date {
    float: left;
    width: 9.7%;
    text-align: right;
    display: inline-block;
    color: #b31a39;
    clear: both;
    padding-right: .3px;
}
p.post {
    float: left;
    width: 44%;
    display: inline-block;
    margin-bottom: 0px;
}
a:hover {
    color: #252525;
}
#floating-social-icons {
    list-style-type: none;
    position: fixed;
    right: 25px;
    top: 140px;
    padding: 10px;
}
#floating-social-icons li a {
    display: block;
    background-repeat: no-repeat;
    background-position: top right;
}
.more {
    display: none; 
    float: left;
    text-align: left;
    margin-left: 11%;
    width: 44%;
    display: inline-block;
    margin-bottom: 20px;
}
a.showLink, a.hideLink {
    text-decoration: none;
    color: #b31a39; 
    font-weight: bold;
    padding-left: 5px;
}